<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSMI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SSMI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script>
        (function () {
        const isDark = localStorage.getItem('darkMode') === 'true';
        if (isDark) {
        document.documentElement.classList.add('dark-mode');
        }
        })();
    </script>

</head>
<body>
    @if (ViewBag.HideHeader != true)
    {
    <header>
            <nav class="navbar navbar-expand-lg navbar-ssmi">
                <div class="container-fluid px-4">

                    <a class="navbar-brand logo-ssmi" asp-controller="Home" asp-action="Index">
                        SSMI
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSSMI">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSSMI">

                        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">

                            @{
                                var accionActual = ViewContext.RouteData.Values["action"]?.ToString();
                                var controladorActual = ViewContext.RouteData.Values["controller"]?.ToString();
                            }
                            @if (controladorActual == "Login")
                            {
                                <li class="nav-item">
                                    <a class="btn-navbar"
                                       asp-controller="Home"
                                       asp-action="Index">
                                        <i class="bi bi-house-fill"></i> Inicio
                                    </a>
                                </li>
                            }
                            else
                            {
                                @if (!(controladorActual == "Home" && accionActual == "EquipoDesarrollo"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link nav-ssmi"
                                           asp-controller="Home"
                                           asp-action="EquipoDesarrollo">
                                            <i class="bi bi-people-fill"></i> Equipo de Desarrollo
                                        </a>
                                    </li>
                                }

                                @if (!(controladorActual == "Home" && accionActual == "Contacto"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link nav-ssmi"
                                           asp-controller="Home"
                                           asp-action="Contacto">
                                            <i class="bi bi-envelope-fill"></i> Contacto
                                        </a>
                                    </li>
                                }

                                @if (!(controladorActual == "Home" && accionActual == "Index"))
                                {
                                    <li class="nav-item">
                                        <a class="btn-navbar"
                                           asp-controller="Home"
                                           asp-action="Index">
                                            <i class="bi bi-house-fill"></i> Inicio
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2026 - SSMI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
